[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Simple Readme
[access "refs/*"]
	owner = group user/EmbJR
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/EmbJR
	label-Verified = -1..+1 group user/EmbJR
	push = group user/EmbJR
	read = group user/EmbJR
	rebase = group user/EmbJR
	removeReviewer = group user/EmbJR
	submit = group user/EmbJR
[access "refs/heads/*"]
	create = group user/EmbJR
	push = +force group user/EmbJR
	pushMerge = group user/EmbJR
	read = group user/EmbJR
[access "refs/tags/*"]
	push = group user/EmbJR
	push = +force group user/EmbJR
